
.cardDetailedInformation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.acusationBoxPlayer{
  display: flex;
  align-items: center;

}
.acusationBoxPlayerName{
  width: 120px;
}
.buttonAcusationBox{
  display: flex;
  align-items: center;
}
.centeredTitleText{
  text-align: center;
}

.acusationHistory{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.acusationHistoryBox{
  max-height: 150px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
}

.cardDetailsSpecial{
  height: 60vh;
}
.cardDetailsSpecial .cardImg{
  height: 100%;
}
.killingVotePage{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  margin-bottom: 20px;

}
.eachAcused{
  padding-left: 30px;
}
.voteLines{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.acusationPlayerPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acusuationPlayerNames{
  max-height: 300px;
  margin-top: 15px;
  overflow: hidden;
  width: 100%;
  min-height: 200px
}
.mainMobilePage{
    display: flex;
    align-items: center;
    justify-content: center;

}
.nightAction{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.actualAction{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.interactiveButtons{
    position: fixed;
    bottom: 0;
    right: 0;
}

.intButton{
    margin: 0px 5px;
    background-color: #B0B159;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
}
.waitingForMatch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cardDelivered{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.chatMortosTextType{
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  
}
.chatMortosLogMsg{
  margin-left: 10px;
  
}
.chatMortosLog{
  display: flex;
  flex-direction: column;

}
.completedActionWaiting{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.playerInfo, .mafiaInfo, .playerNotice, .chatMortos, .piromaniacoInfo, .evilChatInfo{
    border: 1px solid #B0B159;
    width: 100%;
    min-height: 10vh;
    border-radius: 10px; 
}
.playerInfoBox, .mafiaInfoBox, .playerNoticeBox, .chatMortosBox, .piromaniacoInfoBox, .evilChatBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.chatMortosBox2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 80%;
}
.alignThatShit{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.chatMortos{
  min-height: 150px;
}
.chatMortosLog, .evilChatInfo{
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column-reverse;
  display: flex;
}
.evilChatButtons{
  display: flex;
  align-items: center;
}
.evilChatButtons input{
  padding: 0 20px;
  height: 30px;
}
.eyeButton{
    padding-top: 0px;
}
.mafiaBoxInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.eyeButton img{
    vertical-align: text-bottom;    
}
.basicFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #B0B159;
  border-radius: 10px;
  margin-top: 10px;
}

.modalMobile-content{
  width: 90vw;
  height: 60vh;
}
.testamentTextArea{
  width: 85%;
  height: 150px;
  background-color: #60540eec;
  font-size: 18px;
  border-radius: 10px;
  color: white;

}
.widthNightAdjust{
  width: 80%;
}
.littleinformativo{
  font-size: 13px;
  font-style: italic;
}
.playerListingModal{
  display: flex;
  width: 80%;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}
.listing-inner-modal{
  padding: 0 5px;
  max-height: 100px;
  overflow: hidden;
  min-height: 100px;

}
.testamentInformation p{
  font-size: 16px;
  text-align: center;
}
.fixedButton{
  position: absolute;
  bottom: 0;
}
.testamentInformation, .modal-testatamentcontent{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.fadeMe {
    animation:fadeIn 1s linear;
  }
  
  @keyframes fadeIn {
    0% {
      opacity:0
    }
    100% {
      opacity:1;
    }
  }
  .fadeMe.none {
    display:none
  }