.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: #E2C391;
    font-family: 'buffiedregular';
    padding-bottom: 30px;
}
.headerz{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    color: #E2C391;
    padding-bottom: 30px;
}

.smallLogoStyling{
    width: 50px;
    left: 0;
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;

}